<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>practicing blog life</title>
  </head>
  <body>
    <h1>life story</h1>
    <p>author : {{ post.author | yesno:"yes,no,MayBe"}}</p>
    <p>comments : {{ post.comments }} comment{{post.comments | pluralize}}</p>

    <hr>
    <p>time : {{ current_time }} </p>
    <p><b>title(Normal) : </b> {{post.title}}</p>
    <p>uppercase : {{post.title|upper}} </p>
    <p>lowercase : {{post.title|lower}} </p>
    <p><b>capital: </b>{{post.title| capfirst}}</p>
    <p><b>title case : </b>{{post.title|title}}</p>
    <p><b>TrancateChars : </b>{{post.title|truncatechars:11}}</p>
    <p><b>TrancateWords : </b>{{post.title|truncatewords:3}}</p>
    <p>{{ post.description | capfirst }}</p>
    <p><b>author : </b>{{ post.author }}</p>
    <hr>
    <p><b>current price + 6 :</b>{{post.price|add:6}}</p>
    {% comment %} division {% endcomment %}
    {% if post.number|divisibleby:2 %}
    <p>{{post.number}} is divisible by 2</p>
    {% else %}
    <p>{{post.number}} is not divisible by 2</p>
    {% endif %}
    <hr>
    <p><b>SkillList : </b>{{post.Skill}}</p>
    <p><b>FirstSkill : </b>{{post.Skill| first}}</p>
    <p><b>Skilllength : </b>{{post.Skill| length}}</p>
    <p><b>slice : </b>{{post.Skill| slice:"0:3"}}</p>

    <p><b>join tag: </b>{{post.Skill| join:" "}}</p>
  </body>
</html>
