<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>django page</title>
  </head>
  <body>
    <h1>django template Basic</h1>
    {% comment %} single variable {% endcomment %}
     <p>name: {{name}}</p>
     <p>email:{{email}}</p>
     <p>age:{{age}}</p>
     <p>firstSkill: {{skill.0}}</p>
     <p>skill : {{skill}}</p>
     <p>user: {{user.name}}</p>
     <h3>Blog info</h3>
     <p>title: {{blog.title}}</p>
     <p>content: {{blog.content}}</p>
     <p>created_at: {{blog.created_at}}</p>
     <p>author: {{blog.author}}</p>
     <p>content: {{blog.content|safe}}</p>

     <h4>defaultval</h4>
     <p>defalt value : {{empty_value | default:"lack of info"}}</p>
     <p>defalt value : {{empty_value | default_if_none:"No Data"}}</p>
  </body>
</html>
