{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my Blog</title>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" >
</head>
<body>
    <h1 class = "bg-sky-800">welcome to my blog</h1>
    <p>this is a simple page to check</p>
</body>
</html>