{% extends "base.html" %}
{% load static %}

{% block title %} Home - MY site {% endblock %}

{% block content %}
    <h1>Welcome to MY site!</h1>
    <p>This is the home page of our awesome Django project.</p>
    <img src="{% static 'images/download.jpg' %}" alt="Home Image" >
    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter your name">
        <input type="password" name="password" placeholder="Enter your password">
        <button type="submit">Submit</button>
    </form>
     <button onclick="showAlert()">Show Alert</button>
{% endblock %}